html {
  scroll-behavior: smooth;
}

* {
  font-family: "Quantico", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9fff7;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
}

header h1 {
  font-size: 3em;
  font-style: italic;
}

header h1,
header h2,
header h3 {
  font-family: "DotGothic16", sans-serif;
}

header h2 {
  font-size: 2em;
  color: #005c00;
}

header h3 {
  font-size: 1.5em;
  color: #003a00;
}

header hr {
  background-color: #008500;
  margin: 20px auto;
  margin-bottom: 0px;
  width: 20%;
  height: 2px;
  border: none;
}

#sticky-nav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #f9fff7;
  width: 100%;
  margin: 0px auto;
}

#sticky-nav a {
  display: inline-block;
  font-weight: 700;
  font-style: italic;
  font-size: large;
  text-decoration: none;
  color: #005c00;
  border: 2px solid #008500;
  border-radius: 5px;
  margin: 20px;
  margin-inline: 10px;
  padding: 2px 10px;
  transition: 0.2s;
}

#sticky-nav a:hover {
  scale: 1.07;
}

#sticky-nav hr {
  background-color: #b1c0ac;
  margin: 0px auto;
  width: 100%;
  height: 2px;
  border: none;
}

#section1 {
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px;
  background-color: #b1c0ac;
}

#section1 h2 {
  color: #005c00;
  margin-top: 10px;
}

#section1 h3 {
  color: #003a00;
  margin: 20px;
}

.wave-text span {
  font-family: "DotGothic16", sans-serif;
  display: inline-block;
  transition: transform 0.2s ease;
}

#section1 .wave-text span {
  animation: wave 1.5s ease-in-out infinite;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

#section1 nav {
  margin-bottom: 10px;
}

#section1 a {
  text-decoration: none;
  margin: 20px;
}

#section1 img {
  width: 50px;
  height: auto;
  transition: 0.2s;
}

#section1 img:hover {
  scale: 1.15;
}

#section2 {
  display: flex;
  scroll-margin-top: 20px;
  padding: 50px;
  background-color: #f9fff7;
  align-items: flex-start;
  justify-content: center;
  text-align: justify;
}

#content1 {
  background-color: #b1c0ac;
}

#content1,
#content2 {
  margin: 20px;
  padding: 30px;
  border: 4px solid #b1c0ac;
  border-radius: 10px;
  width: 50%;
}

#content1 h1 {
  font-family: "DotGothic16", sans-serif;
  font-size: 2.5em;
  color: #003a00;
  margin-left: 20px;
}

#content1 h3 {
  margin-left: 20px;
}

#content1 p {
  color: #373b35;
  width: 650px;
  margin: 20px;
}

#content1 #name {
  font-family: "DotGothic16", sans-serif;
  font-weight: bold;
  color: #003a00;
}

#content1 #emphasis {
  font-family: "DotGothic16", sans-serif;
  font-weight: bold;
  color: #00253a;
}

#content1 #pucpr {
  font-family: "DotGothic16", sans-serif;
  font-weight: bold;
  color: #600000;
}

#content2 {
  display: flex;
  flex-direction: column;
  background-color: #b1c0ac;
}

#content2 h1 {
  font-family: "DotGothic16", sans-serif;
  color: #003a00;
}

#content1 h3,
#content2 h3 {
  font-family: "DotGothic16", sans-serif;
  color: #005c00;
}

.formation-item {
  display: flex;
  align-items: center;
  border: 3px solid #005c00;
  border-radius: 10px;
  margin-block: 10px;
  width: 70%;
  background-color: #f9fff7;
  transition: 0.2s;
}

.formation-item:hover {
  transform: translateX(-15px);
  cursor: pointer;
}

.formation-item img {
  margin: 20px;
  width: 80px;
  height: auto;
}

.formation-item p {
  margin: 10px;
}

.section-divisor {
  background-color: #b1c0ac;
  margin: 0px auto;
  margin-bottom: 50px;
  width: 95%;
  height: 3px;
  border: none;
}

#section3 {
  scroll-margin-top: 20px;
  padding: 50px;
  background-color: #f9fff7;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#section3 h1,
#section4 h1 {
  font-family: "DotGothic16", sans-serif;
  color: #003a00;
}

#section3 h3 {
  font-family: "DotGothic16", sans-serif;
  color: #005c00;
}

#section3 p,
#section4 p {
  margin: 20px;
}

#card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#front,
#back {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#card-container section {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  border: 4px solid #b1c0ac;
  border-radius: 10px;
  transition: 0.2s ease;
}

.card:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

#front h3,
#back h3 {
  font-family: "DotGothic16", sans-serif;
  color: #003a00;
}

#card-container hr {
  background-color: #b1c0ac;
  margin: 0px auto;
  width: 75%;
  height: 3px;
  border: none;
}

#section3 img {
  width: 60px;
  height: auto;
}

#section4 {
  background-color: #b1c0ac;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

#section4sub {
  font-family: "DotGothic16", sans-serif;
  color: #005c00;
}

#project-card-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  background-color: #7e8b79;
  width: 500px;
  padding: 20px;
  margin: 20px;
  border: 3px solid #646e60;
  border-radius: 10px;
}

.project-card h3 {
  font-family: "DotGothic16", sans-serif;
  color: #002200;
  margin: 0px 20px;
}

.project-languages {
  display: flex;
}

.project-languages p {
  background-color: #b1c0ac;
  padding: 5px;
  border: 2px solid #646e60;
  border-radius: 5px;
}
